.root{
    -fx-background-color: #D2E9E9;
    -main-color: #F8F6F4;
    -text-color: #C4DFDF;
    -focus-color: #E3F4F4;
}

.button{
 -fx-background-color: -main-color;
}

.button:hover {
  -fx-background-color: -focus-color;
}

.label{
 -fx-text-fill: "black";
}

.text-field{
 -fx-accent: -main-color;
  -fx-background-color: -focus-color, white;
}

.text-field:focused{
 -fx-background-color: -main-color, white;
  -fx-border-color: -fx-accent;
}

.list-view{
 -fx-background-color: -focus-color;
  -fx-background-radius: 10;
  -fx-border-radius: 5;
}

.web-view{
 -fx-background-color: -focus-color;
  -fx-background-radius: 10;
  -fx-border-radius: 5;
}

#startButton{
 -fx-border-color: "black";
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

#appLabel {
  -fx-font-family: Open Sans;
}
